@charset "utf-8";
/* CSS Document */

html,body,ul,li{padding:0;margin:0;}
ul,li,a{list-style:none;text-decoration:none;}
body{width:1366px;background:#FFC;}

/*head css*/
.all{margin:0 auto;width:1120px;min-height:100px;background:#999;}
.bg-pic{width:100%;height:353px;overflow:hidden;background:url(../pictures/new-1.gif);}
#nav-bg{width:100%;height:54px;background:#792324;opacity:0.5;text-align:center;border-top:3px solid #a24647;margin-top:-56px;z-index:1;position:relative;}
#nav{width:100%;height:54px;text-align:center;margin-top:-54px;position:relative;z-index:1;}
.nav-ul{width:1035px;height:54px;margin:0 auto;}
#nav li{float:left;display:block;height:54px;font-size:24px;font-weight:bolder;line-height:55px;font-family:Tahoma, Geneva, sans-serif;}
#nav li ul li{background:#75343C;width:135px;font-size:19px;height:40px;line-height:40px;font-family:Tahoma, Geneva, sans-serif;}
#nav li ul li a{padding:0;}
#nav li a{display:block;height:54px;color:#fff;padding:0 18px;font-family:Tahoma, Geneva, sans-serif;outline:none;blr:expression(this.onFocus=this.blur());}
/*@media screen and (-webkit-min-device-pixel-ratio:0){ #nav li a{padding:0 5.5px;} }  					for google*/
#nav li:hover{background:#6C2629;}
#nav li ul{width:200px;display:none;position:absolute;}
#nav li:hover ul{display:block;}
.x-width{width:182px;}

/*main css*/
.main{width:100%;min-height:500px;float:left;}
.change{width:100%;height:1310px;float:left;overflow:scroll;}           /*js控制*/
.change1{width:100%;height:600px;float:left;overflow:scroll;}
.change2{width:100%;height:740px;float:left;overflow:scroll;}
.change3{width:100%;height:1100px;float:left;overflow:scroll;} 
.change4{width:100%;height:1750px;float:left;overflow:scroll;} 

/*foot css*/
.foot{width:100%;height:110px;background:#5E1D1C;float:left;}
.foot-font{width:100%;text-align:center;font-size:13px;font-family:Tahoma, Geneva, sans-serif;color:#fff;margin:0;padding:0;margin-top:5px;}
